<% form_for @story do |f| %>
	<%#= f.error_messages %>
	<div class="field">
		<p>
			<strong>Noun 1</strong><br />
			<%= f.text_field :nounOne %><br />
			<strong>Noun 2</strong><br />
			<%= f.text_field :nounTwo %><br />

		</p>
	</div>
<% end %>